/* Variables */
:root {
  --color-red: rgb(214, 28, 28);
  --color-hover-red: rgb(228, 56, 56);
  --color-href: rgb(170, 170, 170);
  --color-placeholder: rgb(100, 100, 100);
  --color-hover-shadow: rgba(255, 255, 255, 0.2);
  --color-focus: rgb(40, 40, 40);
}

/* General for all HTML */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
}

p {
  color: red;
  font-size: 1rem;
}

.input {
  width: 100%;
  font-size: 0.8rem;
  color: white;
  background-color: black;
  border: 1px solid white;
  outline: none;
  padding: 12px 8px;
  margin-top: 10px;
}

.input::placeholder {
  color: var(--color-placeholder);
}

.input:focus {
  background-color: var(--color-focus);
}

a {
  text-decoration: none;
}

.button {
  font-size: 1rem;
  color: white;
  background-color: var(--color-red);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-hover-red);
}

.img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px var(--color-hover-shadow);
}

/* INDEX */
/* Navigation */
.navigation {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

/* Section 1 */
.section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  padding-top: 60px;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.9) 60%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("images/background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
}

.text h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 16px;
}

.text h2 {
  font-size: 1rem;
  margin-bottom: 16px;
}

.text h3 {
  font-size: 0.7rem;
  margin-bottom: 14px;
}

.email-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px;
}

.email-box input {
  margin-top: 0;
}

@media (min-width: 768px) {
  .text h1 {
    font-size: 3rem;
  }

  .text h2 {
    font-size: 1.5rem;
  }

  .text h3 {
    font-size: 1rem;
  }
}

/* Section 2 */
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.pics img {
  width: 220px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

@media (min-width: 768px) {
  .section2 {
    height: calc(100vh - 224px - 60px);
    margin: 0;
  }

  .pics {
    flex-direction: row;
  }
}

/* Footer */
.footer-container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer-item {
  display: flex;
  height: auto;
}

.footer-column a {
  font-size: 0.6rem;
  color: var(--color-href);
  margin-bottom: 15px;
}

.footer-column a:hover {
  color: white;
}

@media (min-width: 768px) {
  .footer-column {
    width: 25%;
    padding: 0 20px;
    margin: 40px 0;
  }

  .footer-column a {
    font-size: 0.7rem;
  }
}

/* Icon */
.icon {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.icon.show {
  opacity: 1;
  pointer-events: auto;

  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  z-index: 1000;
}

.icon-svg {
  width: 100%;
  height: 100%;
  fill: var(--color-red);
  stroke: none;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.icon-svg:hover {
  transform: scale(1.1);
}

/* FORM */
.form-container {
  width: 400px;
  padding: 0 20px;
}

.form-container button {
  width: 100%;
  margin-top: 10px;
}

.error-message {
  color: white;
  font-size: 0.6rem;
  display: none;
}

.input.error {
  border: 2px solid red;
}

.input.success {
  border: 2px solid green;
}

/* FILTER */
/* Select */
.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 30px 20px;
}

.select {
  width: 160px;
  font-size: 1rem;
  color: white;
  background-color: var(--color-focus);
  border: 2px solid var(--color-red);
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  cursor: pointer;
}

.select:hover {
  border: 2px solid var(--color-hover-red);
}

.option {
  background-color: var(--color-focus);
}

.default {
  color: var(--color-placeholder);
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 40px 20px;
}

.gallery img {
  width: 160px;
  height: auto;
  transform: rotate(5deg);
  transition: transform 0.3s ease;
  cursor: pointer;
}
